*{
    margin: 0;
    padding: 0;
    
}


.work-sans-primary {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.bg-color-primary{
    background-color: rgba(255, 144, 14, 0.1);
}

.display-flex{
    display: flex;
}
.max-width{
    max-width: 1440px;
    margin: 0 auto;
}
.description-text{
    
    font-weight: 400;
    Font size: 1rem;
    color: rgb(114, 114, 114);
    margin: 20px 0

}

/* button styles */

.btn-primary{
    background-color: rgb(255, 144, 14);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin: 2rem 0;
}





/* header styles */

.nav-bar{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}
.nav-menu{
    gap: 30px;
}
.brand-title{
    font-size:2.8rem;
    font-weight: 700;
}
.nav-items{
    list-style: none;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.2rem;
    font-weight: 500;
}

.banner{
    padding-bottom: 50px;
}
.banner-head{
    max-width: 876px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 3.8rem;
    font-weight: 700;
    padding: 8% 4% 1.5% 4%; 

}
.banner-img{
    padding: 20px 0 60px 0;
}
.banner>img{
    width: 100%;
}
/* team section styles */

.team{
    
    align-items: center;
    gap: 50px;
    padding: 8% 6%;

}
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
}

.features-title{
    font-size: 2.8rem;
    font-weight: 700;
}
#quick-list{
    color: rgb(114, 114, 114);
    font-weight: 400;

}
#of-our{
    color: rgb(19, 19, 19);
}

#features{
    color: rgb(255, 144, 14);
}

/* feature-items styles */

.feature-items-container{
    
    justify-content: space-between;
    
}
.feature-items{
   
    max-width: 650px;
}
.feature-items>h2{
    font-size: 3rem;
    font-weight: 700;
    border-left: 4px solid rgb(255, 144, 14);
    padding-left: 2%;
    margin-bottom: 5%;
}
.feature-item{
    
    padding: 1.5% 6.2%;
    border: 0.5px solid black;
    margin: 2% 0;
    box-shadow:2px ;
}
.feature-items>img{
    
    width: 100%;
}

#ten-year{
    font-size: 3rem;
    font-weight: 700;
}
#exparience{
    font-size: 2rem;
    font-weight: 600;
}
.featurs-items-btn{
    padding: 6% 8%;
    position: relative;
    bottom: 150px;
    left: -70px;
}
/* facts section style */
.facts{
    margin-bottom: 300px;
}
.facts>h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.facts>p{
    width: 560px;
}
.fact-cart-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:100px;
    justify-content: space-between;
    padding: 30px 60px;
    
}
.fact-cart{
    
    border: 1px solid rgb(255, 144, 14);
    text-align: center;
    padding: 30px 0;
    border-radius: 8px;

}
.fact-cart>h6{
    font-size: 2rem;
    font-weight: 600;
}

/* responsive media quary */

@media screen and (max-width:576px) {
    .nav-bar, .team{
        flex-direction: column;
    }
    .brand-title{
        margin-bottom: 20px;
    }
    .banner-title{
        font-size: 2.2rem;
        /* padding: 30px 5px 20px 5px; */
    }
    .brand-title{
        font-size:2rem;
    }
    .img-container>img{
        width: 100%;
    }
}

@media screen and (min-width:576px) and (max-width:999px) {
    .team{
        flex-direction: column;
    }
    .team{
        align-items: stretch;
    }
    .img-container>img{
        width: 100%;
    }
}